@font-face {
  font-family: "Poppins";
  src: url("../../resources/fonts/Poppins-Regular.ttf");
}

.root-pane {
  -fx-background-color: linear-gradient(to right, #e4d00a, #f0e68c);
  -fx-padding: 20;
}

.form-pane {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-border-color: black;
  -fx-border-width: 4;
  -fx-border-radius: 10;
  -fx-font-family: "Poppins";
}

.left-section {
  -fx-background-color: white;
  -fx-alignment: center;
  -fx-background-radius: 10 0 0 10;
  -fx-font-family: "Poppins";
}

.right-section {
  -fx-background-color: #fef200;
  -fx-alignment: center;
  -fx-background-radius: 0 10 10 0;
  -fx-font-family: "Poppins";
}

.title-mini {
  -fx-font-size: 26px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-font-family: "Poppins";
}

.title-master {
  -fx-font-size: 50px;
  -fx-font-weight: bold;
  -fx-text-fill: #ffd700;
  -fx-font-family: "Poppins";
}

.title-login {
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-font-family: "Poppins";
}

.label-text {
  -fx-font-size: 22px;
  -fx-text-fill: black;
  -fx-font-family: "Poppins";
}

.input-field {
  -fx-font-size: 15px;
  -fx-padding: 10;
  -fx-border-color: black;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-font-family: "Poppins";
}

.login-button {
  -fx-font-size: 22px;
  -fx-font-weight: bold;
  -fx-background-color: black;
  -fx-text-fill: white;
  -fx-background-radius: 5;
  -fx-padding: 10;
  -fx-pref-width: 400;
  -fx-font-family: "Poppins";
}

.create-account-button {
  -fx-font-size: 22px;
  -fx-background-color: #fef200;
  -fx-border-color: black;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-padding: 10;
  -fx-text-fill: black;
  -fx-pref-width: 400;
  -fx-font-family: "Poppins";
}
