@font-face {
    font-family: "Poppins";
    src: url("../../resources/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../../resources/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("../../resources/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins SemiBold";
    src: url("../../resources/fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "MGMIcon";
    src: url("../../resources/fonts/MGMIcon.ttf");
}

.root {
    -fx-font-family: "Poppins";
}

.child-container {
    background-color: red;
    -fx-pref-width: -1; 
}


.player-blue-detail {
    -fx-background-color: #0000cc;
    -fx-border-color: transparent transparent #000000 transparent;
    -fx-border-width: 2px;
    -fx-padding: 0 120px 0 0;
}

.player-blue-detail-name, .player-red-detail-name {
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
}

.player-detail-trophy {
    -fx-background-color: #00000033;
    -fx-alignment: CENTER-LEFT;
    -fx-translate-x: 10;
    -fx-max-width: 82px;
    -fx-max-height: 30px;
}
.player-detail-trophy-icon {
    -fx-font-family: "MGMIcon";
    -fx-fill: #fefe00;
    -fx-text-fill: #fefe00;
    -fx-font-size: 18px;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-translate-x: -8;
    -fx-stroke: #000000;
    -fx-stroke-width: 1px;
}


.player-detail-trophy-text {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 1px 4px;
    -fx-stroke-width: 4px;
    -fx-pref-width: 50;
    -fx-alignment: CENTER;
}

.player-red-detail {
    -fx-background-color: #cc0000;
    -fx-border-color: transparent transparent #000000 transparent;
    -fx-border-width: 2px;
    -fx-padding: 0 0 0 100px;
}

.time-box {
    -fx-shape: "M 8 100 L 92 100 L 100 0 L 0 0 Z";
    -fx-background-color: #fefe00;
    -fx-alignment: CENTER;
    -fx-padding: 8px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-translate-y: -2px;
    -fx-pref-width: 220px;
    -fx-pref-height: 90px;
    -fx-max-width: 200px;
    -fx-max-height: 90px;
}

.time-box-title {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 16px;
    -fx-translate-y: 6px;
}
.time-box-time {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.playground-blue {
    -fx-border-color: transparent #000000 transparent transparent;
    -fx-border-width: 1.5px;
    -fx-background-color: gray;
    -fx-alignment: CENTER;
}

.playground-red {
    -fx-border-color: transparent transparent transparent #000000;
    -fx-border-width: 1.5px;
    -fx-background-color: gray;
}

.center {
    -fx-alignment: CENTER;
}

.progress-bar-stick {
    -fx-background-color: #fefe00;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-max-height: 12px;
    -fx-pref-height: 12px;
}

.progress-bar-point {
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-background-color: #fefe00;
    -fx-border-radius: 13px;
    -fx-background-radius: 15px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.progress-bar-text {
    -fx-font-size: 14px;
}

.progress-bar-cont {
    -fx-shape: "M 0 100 L 100 100 L 95 0 L 5 0 Z";
    -fx-background-color: #fefe00;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-max-height: 60px;
    -fx-pref-height: 60px;
    -fx-translate-y: 4px;
}

.starting-in-screen {
    -fx-background-color: #00000066;
    -fx-alignment: CENTER;
}


.starting-in-screen-title {
    -fx-shape: "M 10 0 L 90 0 L 100 50 L 90 100 L 10 100 L 0 50 Z";
    -fx-background-color: #fefe00;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 22px;
    -fx-padding: 14px 38px;
}


.starting-in-screen-count {
    -fx-fill: #fefe00;
    -fx-stroke: #000000;
    -fx-stroke-width: 2px;
    -fx-font-weight: bold;
    -fx-font-size: 200px;
}


.victory-screen {
    -fx-background-color: #00000066;
    -fx-alignment: CENTER;
}


.victory-screen-title {
    -fx-shape: "M 15 0 L 85 0 L 100 50 L 85 100 L 15 100 L 0 50 Z";
    -fx-background-color: #fefe00;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 52px;
    -fx-padding: 20px 80px;
}